{% extends "layout.html" %}

{% block nav %}
{{ nav('archive') }}
{% endblock %}

{% block content %}
  {% set articles = env.helpers.getArticles(contents) %}
<div id="content">
    <div class="content-wrap">  
        <section class="archive">
            <ul>
            {% for article in articles %}
                <li><span class="archive-date">{{ moment.utc(article.date).format('YYYY MMM, Do') }}</span> <a href="{{article.url}}">{{article.title}}</a></li>
            {% endfor %}
            </ul>
        </section>
    </div>
</div>    
{% endblock %}